/* フォントに関するmixi */

fontfamily(font-value='Lucida Grande')
  font-family font-value,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif

fontsize($size=14)
  font-size ($size)px
  font-size ($size/10)rem

ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

  