/*
    Block要素に関する変数値
    Block is div, p, section, article, footer, header, main, aside, nav and display:block
*/

// z-index
$z-index_high = 999
$z-index_middle = 500
$z-index_bottom = 100
$z-index_base = 1

// border-radius
$radius_basic = 6px
$radius_mini = 4px
$radius_small = 2px