/*
    Colors
*/

// Background Colors
$background_basic = #fff

// Button Colors
$color_label = #04afe1
$color_button_submit = #00aee0


// State Colors
$success = #06cd9c
$error = #e94f81
$attention = #ef5350

// Font Colors
$font_basic = #343434

// border colors
$border_basic = #c3cacd

// Social Colors
$twitter_1 = #55acee
$facebook_1 = #3b5998
$line_1 = #00c402
$email_1 = #7ac943
$login_1 = #00c5e5





  